/* CSS는 위에서 아래로 코드가 적용. 가장 아래에있는 코드가 적용됨. 그리고 가장 구체적인 selector가 적용됨.*/
/* CSS는 크게 두 가지로 나뉜다. 1;block, 2;inline. block은 옆에 어떤 element도 올 수 없는(defualt 상태에서) 것이고, inline(in the same line)은 옆에, 즉 일렬로 배열이 가능한 것이다. 대부분은 block이다. 따라서 block이 아닌 것을 외워 둬라. 유명한 inline tags; span, a, image */
/* inline은 height, width가 없다. block은 가지고 있음. */
/* block === box 이것은 margin, padding, border을 사용할 수 있음. */
/* inline은 height, width가 없기 때문에 margin top/bottom이 적용이 안된다. 좌우 margin은 적용 가능. padding은 적용 100% 가능. */
/* CSS에서도 변수를 지정할 수 있다. 같은 색을 여러번 쓰거나 할 때 유용하다. :root를 이용해 처음에 지정해주면 된다. 자세한 사용법은 MDN문서 참고*/
/* transition은 state(:hover 같은 거)가 없는 쪽에 작성해야 한다. */
/* transformation은 다른 요소에 영향을 안준다. */
/* @keyframes를 이용해 animation을 만들 수 있다. */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import 'reset.css';
@import 'variables.css';

/* Components */
@import 'components/status-bar.css';
@import 'components/nav-bar.css';
@import 'components/screen-header.css';
@import 'components/user-component.css';
@import 'components/badge.css';

/* Screens */
@import 'screens/login.css';
@import 'screens/friends.css';

body {
  color: #2e363e;
  font-family: 'Open Sans', sans-serif;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}
